.sidebar,
body > .navbar-collapse{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    display: block;
    z-index: 1;
    font-weight: 200;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center center;
}

.main-area{
    background-color: rgb(255, 255, 255);
    position: relative;
    float: left;
    min-height: 400px;
    margin-left: 200px;
    width: calc(100% - 400px);
}

.main-area-bottom{
    position: relative;
    float: left;
    margin-left: 200px;
    width: calc(100% - 400px);
}
